* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1760346738721-bc8e0678623f?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    padding: 40px 50px;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;

    .card {
        // flex-shrink: 0;
        height: 480px;
        width: 350px;
        background-color: rgb(2, 6, 40);
        color: white;
        border-radius: 15px;
        overflow: hidden;
        transition: all ease 0.3s;
        cursor: pointer;
        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            // border-radius: 10px;

        }

        .info {
            padding: 10px;

            h1 {
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: 700;
                margin-bottom: 3px;

            }

            button {
                padding: 8px 15px;
                background-color: rgb(4, 16, 109);
                color: white;
                border-color: aqua;
                border-radius: 15px;
                margin-bottom: 15px;
                margin-right: 5px;
            }
            button:hover{
                background-color: rgb(4, 16, 109);
                color: white;
                border: none;

            }

            p {
                margin-bottom: 25px;
            }

            h4 {
                font-size: 20px;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-weight: 500;
                margin-bottom: 10px;
                color: royalblue;
            }

        }

    }
    .card:hover{
        box-shadow: 10px 10px 25px white;
        scale: 1.07;
        transition: all ease 0.3s;
    }
}