* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.628);
    display: flex;
    align-items: center;
    justify-content: center;



    .box1 {
        height: 750px;
        width: 650px;
        position: relative;
        cursor: pointer;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        i {
            font-size: 80px;
            color: aliceblue;
            position: absolute;
            top: 50%;
            left: 50%;
            opacity: 2;
            transform: translate(-50%, -50%) scale(0);
            transition: all ease 0.1s;
        }

    }

    .box2 {
        height: 750px;
        width: 650px;
        background-color: #212328;
        display: flex;
        // align-items: center;
        justify-content: space-between;
        flex-direction: column;



        .nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px;
            width: 100%;
            height: 70px;
            cursor: pointer;
            // background-color: rgb(223, 230, 227);

            .left {
                display: flex;
                align-items: center;
                // background-color: rgb(25, 199, 12);
                gap: 13px;

                .pic {
                    height: 45px;
                    width: 45px;
                    background: linear-gradient(orange, red, rgb(232, 107, 127), yellow);
                    border-radius: 50%;
                    padding: 2px;
                }

                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;

                }

                h2 {
                    color: white;
                }

                p {
                    font-size: 20px;
                    color: royalblue;
                }

                p:hover {
                    color: #e8e7f4a7;
                }

                i {
                    font-size: 20px;
                    background-color: rgb(43, 183, 230);
                    padding: 3px 3px;
                    border-radius: 50%;
                }

                // button {
                //     padding: 10px 15px;
                //     border: none;
                //     border-radius: 5px;
                //     background-color: royalblue;
                // }
            }

            .right {
                i {
                    font-size: 20px;
                    color: white;
                }
            }
        }

        .mid {
            padding: 10px;
            width: 100%;
            height: 400px;
            color: white;
            display: flex;
            flex-direction: column;
            gap: 10px;

            // background-color: lightblue;
            .hur {
                display: flex;
                align-items: center;
                gap: 6px;
            }

            .pic {
                height: 35px;
                width: 35px;
                background: linear-gradient(orange, red, rgb(232, 107, 127), yellow);
                border-radius: 50%;
                padding: 2px;

                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                }
            }

            i {
                font-size: 15px;
                background-color: rgb(43, 183, 230);
                padding: 3px 3px;
                border-radius: 50%;
            }

            .greet {

                // background-color: lightblue;
                p {
                    line-height: 2;
                }
            }
        }

        .bottom {
            position: relative;
            width: 100%;
            height: 200px;
            // background-color: white;
            display: flex;
            cursor: pointer;
            // align-items: center;
            // justify-content: space-around;

            flex-direction: column;


            .up {
                // background-color: lightblue;
                display: flex;
                justify-content: space-between;
                padding: 8px;

                i {
                    color: white;
                    font-size: 35px;
                }

                .love {
                    i {
                        margin-left: 3px;
                    }
                }

                .save {
                    i {
                        color: black;
                    }
                }
            }


            .count {
                color: white;
                padding-left: 10px;

                // background-color: rosybrown;
                h3 {
                    display: inline-block;
                    margin-right: 2px;
                }

                p {
                    font-size: 20px;
                    display: inline-block;

                }
            }

        }



    }
}